<div class="container">
  <h1>Specialisto registracija</h1>
  <div class="row">
    <div class="span7">
      <%= form_for @specialist, html: {class: "form-horizontal well"}, url: create_specialist_path do |f| %>

          <% if @specialist.errors.any? or @specialist.user.errors.any? %>
          <div class="alert alert-error">
            <h3>Ištaisykite šias klaidas:</h3>

            <ul>
              <% @specialist.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
              <% @specialist.user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= render partial: "edit", locals: {specialist: @specialist, f: f} %>


          <%= fields_for @specialist.user do |user_f| %>

              <legend>Prisijungimas</legend>

              <div class="control-group">
                <label class="control-label" for="todo">El. paštas</label>
                <div class="controls">
                  <%= user_f.text_field :email, class: "input-block-level" %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="todo">Slaptažodis</label>
                <div class="controls">
                  <%= user_f.password_field :password, class: "input-block-level" %>
                </div>
              </div>

          <% end %>

          <div class="form-actions">
            <%= submit_tag "Registruotis", class: "btn btn-success btn-large" %>
          </div>
      <% end %>
    </div>
    <div class="span5">
      <div class="well">

        <legend>Susiję veiksmai</legend>

          <%= link_to "Specialisto prisijungimas", new_session_path(:user) %><br />
          <%= link_to "Pamiršote slaptažodį?", new_password_path(:user) %><br />
          <%= link_to "Negavote el. pašto su paskyros patvirtinimo instrukcijomis?", new_confirmation_path(:user) %><br />

      </div>
    </div>

  </div>
</div>

