<div class="search-page container">
  <div class="row">
    <div class="span5">
      <%= form_for @specialist, method: :get, url: search_path, html: {class: "well"} do |f| %>

      <legend>Specialistų paieška</legend>

      <div class="control-group">
        <label class="control-label" for="todo">Vietovė</label>
        <div class="controls">
          <%= f.text_field :full_address,
                           placeholder: "Pvz.: Pilaitė, Vilnius",
                           class: "input-block-level",
                           'data-search-url' => url_for(:ajax_address_search) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="todo">Paieškos spindulys</label>
        <div class="controls row-fluid">
          <%= number_field_tag "search_radius", @search_radius, in: 1..500, class: "span3" %>
          <span class="help-inline">km</span>

          <%= f.submit "Ieškoti", class: "span3 pull-right btn btn-success" %>
        </div>
      </div>

      <legend>Atliekami darbai</legend>

      <div class="control-group">
        <div class="controls">
          <div id="checkboxes">
            <% ServiceType.order("title").all.each do |s_type| %>
                <label class="checkbox"><%= s_type.title %>
                  <%= check_box_tag "specialist[extra_services_select][]", s_type.id,
                                    @specialist.extra_services.collect{ |s| s.id }
                                    .include?(s_type.id) %>
                </label>
            <% end %>
          </div>
          <%#<%= f.collection_select :extra_services_select, ServiceType.all, :id, :title, {}, multiple: true, size: 10 %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Ieškoti", class: "btn btn-success" %>
        <%= link_to "Išvalyti", search_path, class: "btn" %>
      </div>
      <% end %>
    </div>
    <div class="span7">
      <%= gmaps(markers: {
                  data: @map_markers,
                  options: {
                     randomize: true,
                     max_random_distance: 200
                  }
                },
                map_options: { detect_location: false,
                               center_on_user: false,
                               language: 'lt',
                               hl: 'lt',
                               region: 'lt',
                               class: "search_map",
                               auto_zoom: false,
                               zoom: 7}) %>
      <% @results.each do |result| %>
        <%= render :partial => 'shared/specialist_card',
                   locals: {object: result,
                   search_address: @specialist.full_address,
                   search_location: [@specialist.latitude, @specialist.longitude] }%>
      <% end %>
    </div>
  </div>
</div>