<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p>© 2011 - <%= Time.now.year %> <%= link_to "Radai", root_url(subdomain: false) %></p>
      </div>
      <div class="span8 links">
        <%= link_to "Naudojimosi taisyklės", eula_path %>
        <span class="separator"></span>
        <%= link_to "Privatumo politika", privacy_path %>
        <span class="separator"></span>
        <%= link_to "Susisiekite", feedback_leave_path %>
      </div>
    </div>
  </div>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/lt_LT/all.js#xfbml=1&appId=109122215868436";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
