<div class="specialist-card">
  <a name="<%= object.id %>"></a>
  <legend><i class="icon-user"></i> <%= object.title %></legend>
  <div class="row-fluid">
    <div class="span6 contact-info">
      <div>
        <i class="icon-map-marker"></i> <%= object.full_address %>
        <% unless search_address.blank? %>
          (<%=  object.distance_from(search_location).round(2) %> km)
        <% end %>
      </div>
      <% if object.show_phone %>
        <div>
          <i class="icon-phone"></i> <%= object.phone %>
        </div>
      <% end %>
      <% unless object.user.nil? %>
        <% if object.show_email %>
          <div>
            <i class="icon-envelope"></i> <%= link_to object.user.email, "mailto:#{object.user.email}" %>
          </div>
        <% end %>
      <% end %>
      <% unless object.website.blank? %>
      <div>
        <i class="icon-link"></i> <%= link_to object.website.gsub(/^https?:\/\/(www.)?/, ''), object.website %>
      </div>
      <% end %>
    </div>
      <div class="span6 service-list">
        <div>
          <i class="icon-star"></i> <%= object.primary_service.title %>
        </div>
        <% object.extra_services.each do |s| %>
          <div>
            <i class="icon-ok"></i> <%= s.title %>
          </div>
        <% end %>
      </div>
  </div>
  <% unless object.about.blank? %>
    <div class="about">
      <%= markdown(object.about) %>
    </div>
  <% end %>
</div>