<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title><% if content_for?(:title) %><%= yield(:title) %> - Radai<% else %>Radai<% end %></title>
    <%= render partial: 'shared/head' %>
  </head>
  <body>
    <div class="index">
      <div id="content">
        <% unless @skip_flashes %>
          <%= render partial: "shared/flashes", locals: { flash: flash } %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
    <%= yield :scripts %>
    <%= render :partial => 'shared/analytics', locals: { asset: "UA-27284206-1" } %>
  </body>
</html>
